:{$PORT} {
    # root folder aplikasi di dalam container
    root * /app

    # aktifkan PHP untuk semua file PHP
    php_server
    php *.php

    # static file server (CSS, JS, IMG)
    file_server

    # Jika path yang diminta bukan file, arahkan ke index.php
    @notFile {
        not file
    }
    rewrite @notFile /index.php
}
